name: Unit Tests

on:
  pull_request:
  push:
    branches:
      - main
      - '**/feature-*'
      - '**/bug-*'

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Run tests
        run: go test -tags=test ./...